.FAQ {

	padding: 8em 0;
	background-color: #F2F5FE;

	&__itemHeader {
		margin-bottom: 1em;
	}
	.centered{
		text-align: center;
	}
	button {
		width: 100%;
	}

	// more or less blatantly copied out of about.scc
	&_list {
		display: flex;
		justify-content: space-between;
		&_column {
			flex: 1;
			max-width: 48%;
		}
	}
}

.FAQItem {
	margin-bottom: 4em;
}
