.FAQ {
	button {
		width: 100%;
	}
	
	// copied right out of "about". This should probably just go in a global styles file...
	p {
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.41;
	}
	
	// more or less blatantly copied out of about.scc
	&_list {
		display: flex;
		
		&_column {
			flex: 1;
			padding: 0 2em;
		}
	}
	
	// to make section header not look obnoxious
	padding-bottom: 64px;
}

.FAQItem {
	padding-bottom: 0.8em;
}
