.FAQ {

	padding: 8em 0;
	background-color: #F2F5FE;
	padding-left: 2.5%;
	@media (max-width: 768px) {
		padding: 2em 0;
	}

	&__itemHeader {
		margin-bottom: 1em;
	}
	.centered-faq-big{
		text-align: left;
	}
	button {
		width: 100%;
	}

	.BottomItem{
		padding-left: 2.5%;
	}

	&_list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&_column {
			flex: 1;
			max-width: 90%;
		}

		@media (min-width: 768px) {
			&_column {
				flex: 1;
				max-width: 96%;
			}
		}
	}

	@media (min-width: 768px) {
		&_list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.centered-faq-big{
			text-align: center;
		}
	}

}

.FAQItem {
	margin-bottom: 4em;
}
