
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.RegButton {
  margin-top: 9em;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media only screen and (max-width: 768px){
    #splash_anim {
      display: none;
    }
  }
}
.video-container video {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Landing {
  height: 100vh;

  .logo {
    @media only screen and (min-width: 768px){
      visibility: hidden;
    }
  }

  &__logo {
    position: absolute;
    width: 100%;
    max-width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__fulcrum {
      width: 70%;
      margin-left: 15%;
      margin-right: 10%;
      margin-bottom: 10%;
    }

    img {
      max-width: 100%;
    }
    div{
      width: 100%;
      position: relative;

      a{
        display: flex;
        justify-content: left;
        // align-items: left;
      }
      button{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        min-width: 175px;
        font-family: inherit;
        font-weight: bold;//doesnt seem to be installed
        color: white;
        background-color: rgb(116,108,173);
        line-height: 2em;
        border-radius: 3px!important;//necessary bc there is a 0px!important rule
        border:0px;
        height: 45px;
        cursor: pointer;

        @media only screen and (min-width: 768px){
          opacity: 1;
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 1s;
        }
      }
    }
  }
}

.Background {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  height: 100%;
  z-index: 0;
  background: url("../../assets/img/svg/top_image.svg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
