.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 840px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 920px;
  }
}

.Landing {
  height: 100vh;

  &__logo {
    position: absolute;
    width: 100%;
    max-width: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__logo2 {
    position: absolute;
    width: 100%;
    max-width: 160px;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
  }
}

.Foreground {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  height: 100%;
  min-height: 3000px;
  z-index: -100;
  background: url("../../assets/img/svg/Foreground Image.svg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Background {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  height: 100%;
  min-height: 3000px;
  z-index: -100;
  background: url("../../assets/img/svg/Background Image.svg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__foreground {
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100%;
    height: 100%;
    min-height: 3000px;
    z-index: -100;
    background: url("../../assets/img/svg/Foreground Image.svg") no-repeat top center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }

  &__footer {
    background: url("../../assets/img/svg/bottom image.svg") no-repeat bottom center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    min-width: 100%;
    z-index: -99;
    min-height: 300px;
  }
}
