@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.Landing {
  height: 100vh;

  &__logo {
    position: absolute;
    width: 100%;
    max-width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../../assets/img/png/lp_bg.png") center center no-repeat;
    background-size: cover;
  }
}
