language: node_js
node_js:
  - "6.10.3"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - python3-pip
cache:
  directories:
    - node_modules
before_script:
  - pwd
  - npm install
script:
  - npm run build
before_deploy:
  - pip install --upgrade --user awscli
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $HACKILLINOIS_BUCKET_NAME
  skip_cleanup: true
  local_dir: public
after_deploy:
  - ./scripts/invalidate.sh
