.dashboardContainer {
  height: 100%;
  background-color: #25225a;
  background: url("../../assets/img/png/dashboard_background.png");
  background-size: auto 100%;
}

.blockContainer {
  margin: 6vh 1vw;
}

.cellContainer {
  border-radius: 5px !important;
  background-color: white !important;
  margin: 1vh !important;
  padding: 2vh !important;
  box-shadow: none !important;

  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;

  .cellTitle{
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 2vw;
    color: #1c055e;
  }

  .cellLocation{
    font-size: 1vw;
    font-weight: 500;
    line-height: 1vw;
    color: #1c055e;
  }
}

.sponsorLogoContainer{
  margin: 0 0 4.5vh 0 !important;
  border-radius: 5px !important;

  .sponsorLogo {
    background: rgba(255, 255, 255, 0.95) !important;
  }
}

.leftSideContainer {
  padding: 0 1vw 0 4vw !important;
}

.rightSideContainer {
  padding: 0 4vw 0 1vw !important;
}
