html {
  background-color: #25225a;
}

.dashboardContainer {
  height: 100%;
  background-color: #25225a;
}

.dashboardSmallContainer {
  background: #f2f5fe !important;
  border-radius: 8px !important;

  height: 25%;
  margin: 5rem 1.5rem 5rem 1.5rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.dashboardBigContainer{
  background: #f2f5fe !important;
  border-radius: 8px !important;

  height: 55%;
  margin: 5rem 1.5rem 5rem 1.5rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  overflow: hidden;

  .eventCellContainer {
    border-radius: 8px !important;
    background-color: #ffffff !important;
    margin: 1rem !important;
    padding: 2rem !important;

    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

    .eventName{
      font-size: 25px;
      font-weight: 300;
      line-height: 1.2;
      color: #1c055e;
    }

    .eventLocation{
      font-size: 18px;
      font-weight: 500;
      line-height: 1.17;
      color: #1c055e;
    }
  }
}


.dashboardTitle {
  padding: 0.5rem 0rem 1.5rem 0rem;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #232157;
}

.dashboardContent {
  overflow: auto;
  margin: 1rem;
  padding: 2rem 0rem 1rem 0rem;
}

.sponsorLogoContainer {
  margin: 0rem !important;
  padding: 2rem !important;

  .sponsorLogo .logo {
    margin: auto;
  }
}

.removePaddingLeft {
  padding-left: 0 !important;
}

.removePaddingRight {
  padding-right: 0 !important;
}

.currentTime{
  font-size: 103px;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
