
.dashboardAnimation {
  height: 32vh !important;
  width: 39vw !important;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 10;
}

.dashboardAnimationPlaceholder{
  height: 25vh !important;
  padding: 3vh 2vw 3vh 2vw !important;
}

.largeBlockContainer {
  margin: 6vh 1.5vw 7vh 1.5vw;
}

.largeLogoContainer{
  margin: 3.5vh 1.5vw 3.5vh 1.5vw;

  .sponsorLogo {
    padding: 0.5vw;
    background: rgba(255, 255, 255, 0.95) !important;
  }

  .logoCol{
    padding-left: 0.5vw !important;
    padding-right: 0.5vw !important;
  }

  .logoRow {
    padding-top: 1.7vh !important;
    padding-bottom: 0 !important;
  }
}

.largeDashboardContainer {
  height: 100%;
  background-color: #25225a;
  background: url("../../assets/img/png/dashboard_background.png");
  background-size: auto 100%;
}

.twitterContainer{
  background-color: #f2f5fe !important;
  border-radius: 5px !important;
  height: 55vh;
  overflow: hidden;
}

.largeLeftSideContainer {
  padding: 0 1vw 0 4vw !important;
}

.largeRightSideContainer {
  padding: 0 4vw 0 1vw !important;
}
