/* Site-wide Global Settings */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  p {
    font-weight: 400;
    font-size: 1.3em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: medium;
  }

  a, a:link, a:visited, a:hover, a:active {
      color: white;
      text-decoration: none;
      border-bottom: 1px solid white;
  }
}
