$lightblue: rgba(204, 217, 252, 0.24);
$darkblue: #1c055e;

html, body, #app {
  background-color: $lightblue;
  height: 100%;
}

.verticalPadding {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.startContainer {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;

  @media only screen and (max-width: 500px){
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    transform: translate(0%,0%) !important;
  }

  .button {
    font-size: 13px;
    font-weight: 300;
    color: $darkblue !important;
    width: 15em;
    border-radius: 3px;
    background-color: #ccd9fc !important;
    margin: 1em !important;
  }
}

.startPrompt {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: $darkblue;
}

.leftSquiggly{
  position: absolute;
  max-width: 20%;
  width: 250px;
  left: -15px;
  bottom: 60px;
}
.rightSquiggly{
  position: absolute;
  max-width: 10%;
  width: 125px;
  top: 10px;
  right: -15px;
}
