.SectionHeader {
	padding-top: 8em;
	padding-bottom: 1em;
	text-align: center;
	color: #11122F;
	border-bottom: 3px solid #11122F;
	margin: 1em 2em;
	text-transform: uppercase;
	font-weight: 1200;

	h2 {
		margin: 0em;
	}
}
