$input-underline-color:   #ed008c;

.teamContainer {
  padding-left: 8em !important;
  padding-right: 8em !important;

  @media only screen and (max-width: 1200px){
    padding-left: 4em !important;
    padding-right:4em !important;
  }

  @media only screen and (max-width: 680px){
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

.teamInput {
  margin-top: 5em !important;
}

.inputField {
  border-bottom: solid 1px $input-underline-color;
}
