$input-underline-color:   #ed008c;

.teamContainer {
  margin-left: 8em !important;
  margin-right: 8em !important;
}


.teamInput {
  margin-top: 5em !important;
}

.inputField {
  border-bottom: solid 1px $input-underline-color;
}
