.Countdown {
    background: url("../../assets/img/svg/middle_image.svg");
    background-size: auto 100%;
    background-color: #3F4797;
    width: 100%;
    text-align: center;

    &__content {
        color: white;
        padding: 10em 0;
        display: inline-block;
    }

    &__timerHeader {
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__timer {
        color: #ED61A4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__number {
      color: white;
      margin: 0 0.25em;
      min-width: 40px;
    }

    &__number:nth-child(1) {
      opacity: 0.4;
      font-weight: 300;
    }

    &__number:nth-child(3) {
      opacity: 0.4;
      font-weight: 300;
    }

    &__letter {
      font-weight: 300;
    }

    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 266%;
      }
      h2 {
        font-size: 233%;
      }
      h3 {
        font-size: 166.5%;
      }
      &__number {
        min-width: 50px;
      }
    }
}
