.formContainer {
  padding-left: 3em !important;
  padding-right: 3em !important;

  @media only screen and (max-width: 1200px){
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

.activeError {
  animation: shake 200ms 2 linear;
}

.leftSquiggly{
  position: absolute;
  max-width: 20%;
  width: 250px;
  left: -15px;
  bottom: 60px;
}
.rightSquiggly{
  position: absolute;
  max-width: 10%;
  width: 125px;
  top: 0px;
  right: -15px;
}
