.About {

	h2{
		font-size: 1.3em;
  	font-weight: bold;
	}

	p{
		font-size: 1.1em;
		font-weight: 300;
  	line-height: 1.41;
	}

	margin-top: 8em;
	padding: 0 5em;

	&__columnSection {
		display: flex;

		h2{
			font-size: 1.1em;
			font-weight: bold;
			margin-bottom: -0.5em;
		}

		&__column {
			flex: 1;
			padding: 0 2em;

			font-size: 0.9em;
		}
	}
}
