.About {
	padding: 8em 0;
	background-color: #F2F5FE;

	&__copy {
		margin-top: 0.5em;
	}

	&__trackCards {
		display: flex;
		justify-content: space-between;
		margin-top: 3em;
		margin-bottom: 6em;
	}

	&__trackCard {
		width: 49%;
		border: 1px solid lightgray;
		box-shadow: 5px 5px 15px lightgray !important;
		background-color: white;
	}

	&__trackCardHeader {
		background-color: #CCD9FC;
		text-align: center;
		padding: 1em;
	}

	&__trackCardBody {
		background-color: #FFFFFF;
		padding: 2em 4em;
	}

	.space_above {
		margin-top: 1em;
	}
}
