.about-section{
	height: 22.5px;
	background-image: url("site-2018/source/assets/img/lp_bg.svg");
	font-family: 'Gotham-Medium';
	font-size: 15pt;
	color: rgb(255,255,255);
	width: 348px;
	border-radius: 2.5pt;
	margin: 20px 0;
}