.Footer {
    min-width: 100%;
    min-height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #11112F;
        display: flex;
        justify-content: center;
    }

    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #12112F;
    }

}
