$title-color:             #1c055e;

.container{
  padding-right:  7em !important;
  padding-left:   7em !important;
  padding-top:    3em !important;
  padding-bottom: 3em !important;

}

.button {
  color: $title-color;
  background: transparent !important;
  .icon {
    background: transparent !important;
  }
}
