.verticalPadding {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

.successContainer {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;

  .button {
    font-size: 13px;
    font-weight: 300;
    color: #1c055e !important;
    width: 10em;
    border-radius: 3px;
    background-color: #ccd9fc !important;
    margin: 2em !important;


    @media only screen and (max-width: 1200px){
      margin: 1em !important;
    }
  }
}


.successPrompt {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #1c055e;
}
