$active-color   :#1c055e;
$inactive-color :#ccd9fc;
$vertical-section-length :5em;
$mobile-section-length: 3.5em;

.navBar {
  li {
    list-style-type: none;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    border-radius: 0.5em;
    background: $active-color;
    position: relative;
    margin-bottom: $vertical-section-length;
  }

  li::before{
    content: '';
    text-align: center;
    position: absolute;
    top: -$vertical-section-length;
    left: 0.4em;
    width: 0.2em;
    height: $vertical-section-length;
    background: $active-color;
    z-index: -1;
  }

  li:first-child::before {
    display: none;
  }

  .active {
    background: $active-color;
  }

  .active ~ li {
    background: $inactive-color;
  }

  .active ~ li::before {
    background: $inactive-color;
  }

  .title {
    padding-left: 1.5em;
  }

  @media only screen and (max-width: 760px){
    padding-left: 0;
    text-align: center;
    height: 3em;

    .title {
      display: none;
    }

    li {
      list-style-type: none;
      width: 1em;
      height: 1em;
      text-align: center;
      line-height: 1em;
      border-radius: 0.5em;
      display: inline-block;
      background: $active-color;
      position: relative;
      margin-left: $mobile-section-length;
    }

    li::before{
      content: '';
      position: absolute;
      top: 0.4em;
      left: -$mobile-section-length;
      width: $mobile-section-length;
      height: 0.2em;
      background: $active-color;
      z-index: -1;
    }

    li:first-child {
      margin-left: 0;
    }
  }


  @media only screen and (min-width: 760px) and (max-width: 1200px){
    padding-left: 0em !important;
  }

}
