.warningMessage {
  font-size: 15px;
  font-weight: 500;
  color: #1c055e;

  margin-left: auto;
  margin-right: auto;
}


.warningCheckbox {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  font-weight: 300;
  color: #1c055e;

  .checkbox {
    vertical-align: middle !important;
  }

  .label {
    background: transparent !important;
    color: #1c055e !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    font-weight: 300 !important;

    a {
      text-decoration: underline;
    }
  }
}


.warningContainer {
  padding-left: 7em !important;
  padding-right: 7em !important;
}
