.Sponsors {
    min-width: 100%;
    padding: 8em 0;
    // background: url("../../assets/img/png/bottom_image.png") no-repeat top center;
    background-color: #26215A;
    position: relative;
    text-align: center;
    color: white;
}
