.Sponsors {
    min-width: 100%;
    padding: 8em 0;
    background:
        url("../../assets/img/svg/blob.svg") no-repeat top center,
        url("../../assets/img/svg/bottom_image.svg") no-repeat top center;
    background-size: auto 100%;
    background-color: #26215A;
    position: relative;
    text-align: center;
    color: rgb(38,35,89);

    &__container {
        margin: 0 auto;
        padding:17%;
    }

    &__flexBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__flexItemLarge {
        flex-basis: 100%;
        border-radius: 100%;
        margin-bottom: 2em;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    &__flexItemMedium {
        flex-basis: 48%;
        border-radius: 100%;
        margin-bottom: 2em;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__flexItemSmall {
        flex-basis: 31%;
        border-radius: 100%;
        margin-bottom: 2em;

        img {
            display: block;
            max-width: 100%;
        }
    }
    &__flexItemXSmall {
        flex-basis: 22%;
        border-radius: 100%;
        margin-bottom: 2em;

        img {
            display: block;
            max-width: 100%;
        }
    }

    @media (max-width: 768px) {
        &__container {
            padding: 10% 2%;
        }

        &__flexItemXSmall {
            flex-basis: 31%;
        }
        &__flexItemSmall {
            flex-basis: 48%;
        }
        &__flexItemMedium {
            flex-basis: 75%;
        }
    }
    @media (min-width: 769px) and (max-width: 992px) {
        &__container {
          padding:4%;
        }
    }
    @media (min-width: 993px) and  (max-width: 1200px) {
        &__container {
          padding:7%;
        }
    }
    @media (min-width: 2700px) {
        &__container {
          padding:19%;
        }
    }
}
